.hero-card {
    width: 33%;
    min-width: 300px;
    height: 300px;
    background: #ff00ff;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.removal {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;    
}

.pointer {
    cursor: pointer;
}
